h1{
        margin-left: 500px;
}

#wrapper{
    margin-left: 532px;
    margin-top: 232px;
}
#storeLogin{
    
    margin-left: 512px;
    margin-top: 40px;
}
#storeSignUp{
    
    margin-left: 512px;
    margin-top: 40px;
}
#button6{
    
     margin-top: 14px;
    margin-left: 132px;

}
#button8{
    
     margin-top: 14px;
    margin-left: 132px;

}
#username{
    margin-left: 5px;
}
#homepage{
    margin-left: 514px;
}
#button9{
    margin-left: 72px;
}